* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #b5afc1;
  font-size: 16px !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  overflow: auto; }

body {
  min-height: 100vh;
  max-height: 100vh;
  line-height: normal;
  background-color: #060408; }
  body #root {
    min-height: 100vh;
    max-height: 100vh; }
    body #root #container {
      min-height: 93vh; }
      body #root #container .main-container {
        position: absolute;
        top: 0; }
        body #root #container .main-container .main {
          margin-top: 8rem;
          margin-left: 20rem; }

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: 'pkmnfont';
  src: url("./fonts/PKMN RBYGSC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Cormorant';
  src: url("./fonts/Cormorant-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'ChronoType';
  src: url("./fonts/ChronoType.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'Tommy';
  src: url("./fonts/MADE TOMMY Regular_PERSONAL USE.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.welcome-section {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .welcome-section .welcome-section__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #060408;
    gap: .6rem;
    animation: aparecerindexcontainer  450ms ease-in;
    overflow: hidden; }
    .welcome-section .welcome-section__body .welcome-section__item {
      display: flex;
      flex-direction: column;
      height: 27rem;
      gap: .3rem; }
      @media screen and (max-width: 828px) {
        .welcome-section .welcome-section__body .welcome-section__item {
          max-width: 17rem; } }
      .welcome-section .welcome-section__body .welcome-section__item h1 {
        font-family: 'ChronoType' !important;
        font-size: 24px !important; }
      .welcome-section .welcome-section__body .welcome-section__item h2 {
        font-family: 'ChronoType' !important;
        font-size: 15px !important;
        font-weight: 900 !important;
        letter-spacing: 3px; }
      .welcome-section .welcome-section__body .welcome-section__item p {
        font-family: 'ChronoType' !important;
        font-size: 19px !important;
        letter-spacing: 1px; }
    .welcome-section .welcome-section__body .ws-btn {
      height: 3rem; }
    .welcome-section .welcome-section__body .transition-img {
      display: block;
      width: 16rem;
      overflow: hidden;
      height: 12.6rem; }
      .welcome-section .welcome-section__body .transition-img .welcome-section__image-container {
        margin-top: -12.7rem; }
        .welcome-section .welcome-section__body .transition-img .welcome-section__image-container .round-img2 {
          position: sticky;
          animation-name: transition-img-FadeInOut;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: 4s;
          animation-direction: alternate-reverse; }
        .welcome-section .welcome-section__body .transition-img .welcome-section__image-container .round-img1 {
          position: relative;
          top: 203.5px;
          z-index: 99;
          animation-name: transition-img-FadeInOut;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: 4s;
          animation-direction: alternate; }
        .welcome-section .welcome-section__body .transition-img .welcome-section__image-container .round-img {
          width: 13.5rem;
          clip-path: circle();
          transition: opacity 4s ease-in-out; }
    .welcome-section .welcome-section__body .ws-height {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 5rem;
      width: 55rem;
      overflow: hidden; }
      @media screen and (max-width: 828px) {
        .welcome-section .welcome-section__body .ws-height {
          height: 8rem; } }
      .welcome-section .welcome-section__body .ws-height h1 {
        overflow: hidden; }
      .welcome-section .welcome-section__body .ws-height p {
        overflow: hidden; }
      .welcome-section .welcome-section__body .ws-height h2 {
        overflow: hidden; }
    .welcome-section .welcome-section__body .welcome-section__links {
      display: flex;
      flex-direction: row;
      gap: 13px; }

@keyframes aparecerindexcontainer {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes transition-img-FadeInOut {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  55% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.main-container-show {
  display: none; }

.footer-container {
  bottom: 0;
  height: 7vh;
  width: 85%;
  margin-left: 2%; }
  @media screen and (max-width: 828px) {
    .footer-container {
      display: none; } }
  .footer-container .footer {
    display: flex;
    height: 3rem;
    align-items: center;
    text-align: center;
    border-top-style: solid;
    border-top-width: .03rem;
    border-top-color: rgba(147, 94, 48, 0.257);
    flex-direction: row;
    justify-content: space-between; }
    .footer-container .footer .footer__section .footer__text {
      display: flex;
      align-items: center;
      gap: 4px; }
      .footer-container .footer .footer__section .footer__text .logo-footer {
        width: 1.4rem; }
  .footer-container .footer-show {
    display: none; }

.header-container {
  position: relative;
  height: 6.4rem;
  width: 85%;
  left: 2%;
  z-index: 3; }
  .header-container .header {
    position: fixed;
    width: 85%;
    height: 6.4rem;
    border-bottom: .03rem;
    border-bottom-style: solid;
    border-bottom-color: rgba(147, 94, 48, 0.257); }
    .header-container .header .header__logo {
      width: 5.2rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header-container .header .header__logo .header__link .logo {
        position: relative;
        width: 5.2rem; }

.nav-container {
  position: absolute;
  height: 82.5vh;
  width: 16rem; }
  @media screen and (max-width: 828px) {
    .nav-container {
      display: none; } }
  .nav-container .main-nav {
    position: sticky;
    margin: 1.6rem;
    margin-top: 1rem;
    width: 14rem;
    float: left;
    z-index: 2; }
    .nav-container .main-nav__title1 {
      display: block;
      margin-bottom: auto; }
    .nav-container .main-nav___section1 {
      display: block; }
      .nav-container .main-nav___section1 .main-nav__list {
        display: block;
        padding-bottom: .2rem;
        padding-top: .2rem; }
        .nav-container .main-nav___section1 .main-nav__list .main-nav__item {
          display: block; }
          .nav-container .main-nav___section1 .main-nav__list .main-nav__item .main-nav__link {
            display: block;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
            font-size: 14px !important; }
  .nav-container .main-nav-show {
    display: none; }

@keyframes aparecernav {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.btn {
  border: none;
  color: #b5afc1 !important;
  text-decoration: none;
  border-radius: 4px;
  background-color: rgba(48, 31, 104, 0.385) !important;
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 0.8rem; }
  .btn:hover {
    background-color: #1e1247 !important;
    /* Green */
    color: #ddd4ed; }
