@import "../abstracts/variables";

// WELCOME SECTION
.welcome-section {
    height: 75vh;
    //background-color:$negro;
    display: flex;
    justify-content: center;
    align-items: center;
    .welcome-section__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        //align-content: center;
        text-align: center;
        background-color:$negro;
        gap: .6rem;
        //width: 100vw;
        //margin-top: -12rem;
        animation: aparecerindexcontainer  450ms ease-in;
        overflow: hidden;
        .welcome-section__item {
            display: flex;
            flex-direction: column;
            height: 27rem;
            gap: .2rem;
            z-index: 4;
            @media screen and (max-width: 828px) {
                max-width: 17rem;
            }
        }
        .ws-btn {
            height: 4rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
            button {
                max-width: 12rem;
            }
        }
        .transition-img {
            display: block ;
            width: 16rem;
            overflow: hidden;
            height: 12.6rem;
            //position: relative;
            //overflow: hidden;
            .welcome-section__image-container {
                margin-top:-12.7rem;
                .round-img2 {
                    position: sticky;
                    animation-name: transition-img-FadeInOut;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-duration: 4s;
                    animation-direction: alternate-reverse;
                }
                .round-img1 {
                    position: relative;
                    top: 203.5px;
                    z-index: 99;
                    animation-name: transition-img-FadeInOut;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-duration: 4s;
                    animation-direction: alternate;
                    
                    
                }
                .round-img {
                    width: 13.5rem;
                    clip-path: circle();
                    transition: opacity 4s ease-in-out;
                    
                }
            }
        }
        .ws-height {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 7.2rem;
            width: 70rem;
            overflow: hidden;
            @media screen and (max-width: 828px) {
                height: 8rem;
            }
            
            h1 {
                overflow: hidden;
                em {
                    color: $naranja__text-hover;
                    font-family:'Tommy';
                    font-style: normal;
                    font-size: 3.3rem;
                }
            }


            p {
                overflow: hidden;
                height: 1.7rem;
                a {
                    
                    font-size: 1.1rem;
                    letter-spacing: 1px;
                    color: $naranja__text;
                    &:hover {
                        color: $naranja__text-hover;
                    }
                }
            }
            h2 {
                overflow: hidden;
                
                font-size: 1.3rem;
                letter-spacing: 1px;
            }

        }
        .welcome-section__links {
            display: flex;
            flex-direction: row;
            gap: 13px;
            z-index: 4;
            .welcome-section__link {
                font-family: 'ChronoType';
                font-style: normal;
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
    }
}
@keyframes aparecerindexcontainer {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes transition-img-FadeInOut {
    0% { opacity:1; }
    45% { opacity:1; }
    55% { opacity:0; }
    100% { opacity:0; }
}

@keyframes desaparecerWelcome {
    0% {opacity: 1;}
    100% {opacity: 0; display: none;}
}

// MAIN
.main-container-show {
    display: none;
    animation: showfooter  450ms ease-in;
}

.main-container {
    width: 100vw;
    height: 100vh;
    .tapador-header {
        position: fixed;
        top: 0;
        height: 6.4rem;
        width: 100%;
        background-color: $negro;
    }
    .main {
        min-height: 79vh;
    }
}

#tsparticles {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    
}